* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: ivory;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkseagreen;
}
nav .open {
  width: 100px;
  height: 37px;
  background: transparent;
  border-radius: 25px;
  border: 2px solid whitesmoke;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  color: gainsboro;
  transition: 0.5s;
  font-style: italic;
  text-transform: uppercase;
  font-family: sans-serif;
}
nav .open:hover {
  background: rgb(109, 151, 109);
  color: black;
}
nav .logo {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: gainsboro;
  text-decoration: none;
  margin-left: 30px;
}
nav .nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: darkseagreen;
  margin-right: 20px;
  font-style: italic;
  text-transform: uppercase;
  font-size: 18px;
  font-family: sans-serif;
}
nav .nav-links a {
  text-decoration: none;
  color: gainsboro;
  padding: 35px 20px;
}

#app .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  background: linear-gradient(to bottom, rgba(7, 79, 87, 0.5) 0%, rgba(0, 0, 0, 0.6) 100%), url(/images/283237_588943ecc546db7cc5168e868a7848e7.jpg\,2000x2000);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#app .intro h1 {
  font-family: sans-serif;
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}
#app .intro p {
  font-size: 20px;
  color: blanchedalmond;
  text-transform: uppercase;
  margin: 20px 0;
}
#app .intro button {
  background-color: #077187;
  color: whitesmoke;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
}
#app .mediums {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 80px;
  /* background-color: aliceblue; */
  background-color: whitesmoke;
}
#app .mediums .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}
#app .mediums .work i {
  width: fit-content;
  font-size: 50px;
  color: #333333;
  border-radius: 50%;
  border: 2px solid #333333;
  padding: 12px;
}
#app .mediums .work .work-heading {
  font-size: 20px;
  color: #333333;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0;
}
#app .mediums .work .work-text {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#app .about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  border-top: 2px solid #eeeeee;
  background-color: ivory;
}
#app .about-me img {
  width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 50px;
  box-shadow: 0px 0px 20px rgba(1, 42, 44, 0.5);
}
#app .about-me-text h2 {
  font-size: 30px;
  color: darkslategrey;
  text-transform: uppercase;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#app .about-me-text p {
  font-size: 15px;
  color: #077187;
  margin: 10px 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#app .about-artist {
  display: flex;
  height: 600px;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  border-top: 2px solid #eeeeee;
  background-color: rgba(4, 120, 126, 0.5);
}
#app .about-artist img {
  width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 50px;
  box-shadow: 0px 0px 20px rgba(1, 42, 44, 0.5);
}
#app .about-artist-text h2 {
  font-size: 30px;
  color: cornsilk;
  text-transform: uppercase;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#app .about-artist-text p {
  font-size: 15px;
  color: darkslategray;
  margin: 10px 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.modal .modal-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal .alert-panel {
  position: relative;
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal .alert-panel .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 10px;
}
.modal .alert-panel .feedback {
  font-size: 28px;
  font-weight: bold;
}
.modal .alert-panel .feedback span {
  color: red;
}
.modal .alert-panel .buttons {
  margin-top: 40px;
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
}
.modal .alert-panel .buttons .save {
  cursor: pointer;
  padding: 20px 40px;
  border-radius: 10px;
  background-color: lightgreen;
  color: green;
  font-weight: bold;
}
.modal .alert-panel .buttons .close {
  cursor: pointer;
  padding: 20px 40px;
  border-radius: 10px;
  color: crimson;
  background-color: lightcoral;
  font-weight: bold;
}
.modal .loader {
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}
@keyframes fade {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  border-radius: 20px;
  backdrop-filter: blur(100px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease, height 0.2s ease;
}

.wrapper.active-popup {
  transform: scale(1);
  margin: 0 auto;
}

.wrapper.active {
  height: 520px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login {
  transition: 0.18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: 0.18s ease;
  transform: translateX(0);
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: transparent;
  font-size: 2em;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper .icon-close:hover {
  color: #fff;
  border-color: #fff;
}

.form-box h2 {
  font-size: 2em;
  color: black;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid black;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1.1em;
  color: black;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: black;
  line-height: 57px;
}

.remember-forgot {
  font-size: 0.9em;
  color: black;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: black;
  margin-right: 3px;
}

.remember-forgot a {
  color: black;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: darkseagreen;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.btn:hover {
  background: ivory;
  color: black;
  border-color: #fff;
}

.login-register {
  font-size: 14.5px;
  text-align: center;
  color: black;
  font-weight: 600;
  margin: 20px 0 15px;
}

.login-register p a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

/* Responsive design */
@media only screen and (max-width: 780px) {
  header {
    padding: 20px 50px;
  }
}
.logo {
  font-size: 1.5em;
}

.navigation a {
  font-size: 1em;
  margin-left: 20px;
}

.navigation .btnlogin-popup {
  width: 100px;
  height: 40px;
  font-size: 1em;
  margin-left: 20px;
}

.wrapper {
  width: 350px;
  height: 400px;
  position: relative;
  bottom: 1000px;
}

.form-box {
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper.active .form-box.login {
  transform: translateX(-350px);
}

@media only screen and (max-width: 480px) {
  header {
    padding: 20px 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  .logo {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .navigation a {
    font-size: 0.9em;
    margin: 10px 0;
  }
  .navigation .btnlogin-popup {
    width: 100px;
    height: 40px;
    font-size: 1em;
    margin: 10px 0;
  }
  .wrapper {
    width: 300px;
    height: 380px;
  }
  .form-box {
    padding: 20px;
  }
  .form-box h2 {
    font-size: 1.5em;
  }
  .input-box label {
    font-size: 1em;
  }
  .btn {
    height: 40px;
    font-size: 14px;
  }
  .wrapper.active .form-box.login {
    transform: translateX(-300px);
  }
}
